<footer class="container-fluid" style="font-size: .8em; margin: 45px 0 15px 0; position: absolute; border: none; bottom: 0;">
  <div class="row">
    <div class="col-12">
      <div class="align-self-center text-center text-muted">
        <a href="/rules-regulations">Rules &amp; Regulations</a> &nbsp;&nbsp;&nbsp; <a href="/privacy-policy">Privacy &amp; Policy</a>
        &nbsp;&nbsp;&nbsp; <a href="/feedback">Feedback &amp; Suggestions</a> &nbsp;&nbsp;&nbsp; <a href="/about-us">About Us</a>
        &nbsp;&nbsp;&nbsp; <a href="/contact-us">Get in Touch</a> &nbsp;&nbsp;&nbsp;
        <span>Made From &nbsp;<i data-feather="heart" width="12px" height="12px" fill="#E04C4C" stroke="#E04C4C"></i></span>
        &copy; 2019 Raddict, All Right Reserved
      </div>
    </div>
    </div>
</footer>
