<div class="container-fluid">
  <div class="row h-100 justify-content-center">
    <div id="load" style="border: none;">
      <div class="col-auto load-more">
        Load more
      </div>
      <div class="loader col-auto text-center">
        <i class="loader-icon" data-feather="loader" width="25px" height="25px" stroke="grey" fill="none"></i>
        <p class="loading" style="color: grey; margin: 5px 0 0 15px">
          Loading...
        </p>
      </div>
    </div>
  </div>
</div>
