<div class="jumbotron">
  <h1>Not Logged In</h1>
  <p>You are required to log in to perform this action</p>
  <p>However, you should never see this message. But if you do, it is probably a bug. Be sure we are working to fix this!</p>
  <a class="btn btn-brimary" href="{{routes.user.login}}">Log in</a>
</div>
