<div class="connections d-none d-lg-block">
  <div class="connections d-inline-block col {{#if user}}col-md-10{{/if}} " style="margin:0 10px 0 10px; padding: 15px;
    background-color: white; height: 325px;">
    View more of people you might know
  </div>
</div>
