/* ## Customizing Raddict ## */
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(250,250, 250);
}

h1:first-child {
  font-size: 2em;
}

a {
  color: #00B7FF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
  color: rgb(37,37, 41);
} 

.first-header {
  padding: 15px 0 15px 25px;
  margin: 0;
  color:white;
  background:steelblue;
}

/* Wraping the index content */
.index-wrapper {
  margin: 25px 0 15px 0;
}

/* No Post Rules when no articles */
.no-post {
  position: relative;
  top: 150px;
}
.no-post div:first-child {
  margin: 0 0 10px 0;
}

/* Customizing the article form */
.custom-form {
  padding: 15px;
}

.word-wrap {
  word-wrap: break-word;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clear {
  clear: both;
  margin: 0;
}

/* Login and Sign UOp Form */
.custom-form-login, .custom-form-signup {
  border-radius: 7px;
  margin: 25px 0 0 0;
  padding: 25px;
  background-color: white;
}

.custom-form-signup {
  margin: 25px 0 25px 0;
}

/* Logged in user */
.currently-logged {
  color: rgb(37,37, 41);
  background-color: none;
  border: none;
  padding: none;
  text-align: center;
  margin: 150px 0 0 0;
}

/* Login Line */
.login-line {
  display: inline-block;
  font-style: italic;
}
hr.login-line {
  margin: 35px 0 0 0; 
}