/* ## Customizing Raddict ## */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  background-color: #f6f9fc;
}

h1:first-child {
  font-size: 2em;
}

a {
  color: steelblue;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  text-decoration: none;
}

a:hover {
  color: rgb(37,37, 41);
  text-decoration: none;
}

.home-view {
  display: inline-block;
}

/* Wraping the content */
#app-wrapper {
  position: relative;
  min-height: 100vh;
}

.main-container {
  padding-bottom: 3rem;
}

.index-wrapper {
  margin: 25px 0 15px 0;
  padding: 0px;
  border: none;
}

/* Header Rules */
.page-header {
  font-size: .7em;
  font-weight: bold;
  background-color: steelblue;
  margin: 0;
  padding: 0;
  position:
  sticky;
  top: 0;
  z-index: 9
}

/* Feed Bar */
.feed-bar {
  font-size: .8em;
  font-weight: 200;
}

/* Index: List Rules */
a.postlist, a.imagelist, a.userlist {
  margin: 0 0 10px 0;
  background-color: white;
  padding: 15px 25px 60px 30px;
}
a.postlist:hover, a.imagelist:hover, a.userlist:hover {
  border: none;
  box-shadow: 5px 5px 20px #faeaea;
  -webkit-box-shadow: 5px 5px 20px #aaaaaa;
  -moz-box-shadow: 5px 5px 20px #aaaaaa;
  text-decoration: none;
}

/* View: Post view Rules */
.edit:hover, .delete:hover {
  color: steelblue;
}

.comment, .heart {
  color: steelblue;
}

.heart:hover {
  cursor: pointer;
  color: #E04C4C;
  fill: #E04C4C;
}

.post-dislike, .image-dislike {
  color: #E04C4C;
  fill: #E04C4C;
}

.post-like, .image-dislike {
  color: steelblue;
  fill: none;
}

.post-like:hover, .image-like:hover {
  color: #E04C4C;
  fill: #E04C4C;
}

.post-like, .image-like, .post-dislike:hover, .image-dislike:hover {
  cursor: pointer;

}

.comment:hover {
  cursor: pointer;
  fill: steelblue;
}

.more-vertical {
  position: absolute;
  top: 20px;
  right: 20px;
}
.more-vertical:hover {
  cursor: pointer;
}

.vistor-comment a {
  color: whitesmoke;
}

.round {
  border: 2px solid red;
  padding: 0 4px 0 4px;
  border-radius: 100px;
}
.round:hover, .comment-del-btn:hover {
  cursor: pointer;
}

/* Post Thought && Image Butoon Rules */
.post-img-btn:hover, .post-btn:hover {
  cursor: pointer;
}

/* No Post Rules when no articles */
.no-post {
  position: relative;
  top: 225px;
}
.no-post div:first-child {
  margin: 0 0 10px 0;
}

/* Customizing the article form */
.custom-form {
  padding: 15px;
}

.word-wrap {
  word-wrap: break-word;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  text-emphasis: wrap;
  white-space: nowrap;
}

.clear {
  clear: both;
  margin: 0;
}

/* Login and Sign Up Form */
.custom-form-login, .custom-form-signup {
  border-radius: 7px;
  margin: 25px 0 0 0;
  padding: 25px;
  background-color: white;
}

.custom-form-signup {
  margin: 25px 0 25px 0;
}

/* Logged in user */
.currently-logged {
  color: rgb(37,37, 41);
  background-color: none;
  border: none;
  padding: none;
  text-align: center;
  margin: 150px 0 0 0;
}

/* Login Line */
.login-line {
  display: inline-block;
  font-style: italic;
}

hr.login-line {
  margin: 35px 0 0 0; 
}

/* Footer */
footer {
  font-size: .8em;
  margin: 45px 0 15px 0;
  position: absolute;
  border: none;
  bottom: 0;
}

footer a {
  color: inherit;
}

footer a:hover {
  text-decoration: none;
  color: inherit;
}

/* User profile rules */
/* User's utilities/features */
ul {
  margin: 0 0 0 10px;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0 0 5px 0;
  list-style: none;
}

ul li.last-util {
  margin-top: 7px;
}

ul li.post-util {
  margin-bottom: 7px;
}

.feathers {
  width: 17px;
  stroke: rgb(37,37, 41);
}

/* Utility Buttons */
/* Post button displayed only on small screens when the user is logged in */
div.post-btn, .login-round-btn {
  position:fixed;
  display: none;
  font-family: Arial, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .9em;
  font-weight: bold;
  z-index: 3;
  text-align: center;
  right: -25px;
  bottom: 25px;
  width: 40px;
  height: 52px;
  padding: 14px 40px 10px 9px;
  color: white;
  border: 1px solid steelblue;
  background-color: steelblue;
}

div.post-btn:hover {
  cursor: pointer;
}

div.post-btn-add {
  display: none;
  position: fixed;
  bottom: 0;
  right: 30px;
}

div.post-btn-add a {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  position: relative;
  display: block;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 4.5px 7px 4.5px 7px;
  background-color: rgb(37,37, 41);
  border: 4px solid rgb(37,37, 41);
  border-radius: 100px;
}

div.post-btn-add a:hover {
  border: 4px solid grey;
  background-color: grey;
}

div.post-btn-hide {
  position: fixed;
  display: none;
  font-size: 5em;
  z-index: 3;
  opacity: 0;
  bottom: 11px;
  right: 30px;
}

div.post-btn-hide:hover {
  cursor: pointer;
}

/* Load-more Button */
.load-more {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  color: grey;
  margin: 15px 0 0 0;
  padding: 10px 75px 10px 75px;
  border: 1px solid grey;
  border-radius: 50px;
}

.load-more:hover {
  cursor: pointer;
  color: rgb(37,37, 41);
  border: 1px solid rgb(37,37, 41);
  background-color: white;
}

.loader {
  display: none;
  margin: 15px 0 100px 0;
}

/* Delete comment button */
.cmt-del-btn:hover {
  cursor: pointer;
}
