<div class="container-fluid h-100" style="margin: 50px 0 0 0;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 text-center">
      <i data-feather="trash" width="100px" height="100px" fill="none" stroke="steelblue"></i><br/>
      <span style="font-size: 7em; color:steelblue">Ou</span><span style="font-size: 6.5em; color:steelblue">ups!</span>
      <p style="font-size: 2em; font-weight: normal">{{title}}</p>
      <p>{{message}}</p>
    </div>
  </div> 
</div>

{{> footer_absolute }}
{{> footer_js }}
