<div class="container-fluid h-100" style="margin: 50px 0 0 0;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h1>{{message}}</h1>
      <h2>{{error.status}}</h2>
      <pre>{{error.stack}}}</pre>
    </div>
  </div>
</div>

{{> footer_absolute }}
{{> footer_js }}
